.git
.gitignore
.dockerignore
.editorconfig
Dockerfile*
Jenkinsfile
.travis.yml
dist
node_modules
docker-compose.yml
Procfile
LICENSE
*.md
.env*
.vscode
.gitlab
.prettierrc
.prettierignore
README.md
tslint.json
nodemon.json
